body{font-family: Montserrat, NotoSansCJKkr, AppleSDGothicNeo, Roboto, dotum, "돋움", sans-serif;color:#666;font-size:14px;line-height: 20px;
    -webkit-font-smoothing: antialiased;}
a{
    text-decoration: none;
    font-size: 12px;
    color: #333;
    white-space: nowrap;  
}
li{list-style:none;}
header{
    padding-bottom:30px;
    border-bottom: 1px solid #ccc;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
header h1 img{width: 246px;height: 40px;}
.top-nav{
    display:flex;
    justify-content: end;
}
.top-nav li{position:relative;padding: 0 9px 0 10px;}
.top-nav li:after{content:'';display:block;position:absolute;top:50%;right:0;width:1px;height:11px;background: #ccc;transform: translateY(-50%);}

.body{
    padding-top:20px;}
.box-wrap{display:grid;
    grid-template-columns: repeat(4,1fr);
    width:1000px;}
.box{width:215px;margin-bottom:20px;}
.box .img{position:relative;height:215px}
.box .img img{width:100%;object-fit: cover;}
.box .img .isbest{position:absolute;top:10px;left:10px;    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 14px;
    background: #fff;
    border-radius: 24px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    font-weight: 700;border-color: #f05a5e;color: #f05a5e;line-height:52px;}
.box .img .isheart{position:absolute;top:0;right:0;width:35px;height:35px;line-height:35px;text-align:center;font-size:30px;color:rgb(182, 182, 182);background-color:#fff;cursor: pointer;}
.box .img .soldout{    background-color: rgba(0, 0, 0, .2);
    color: #fff;position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    font-weight: 700;text-align:center;line-height:35px;}
.box .img .cart{position:absolute;bottom:0;right:0;width:35px;height:35px;background-color: #fff;line-height:35px;text-align:center;border:0;}
.box .img .svg-inline--fa{height:20px;vertical-align: -0.5em;}
.box .img .svg-inline--fa:hover{color:coral}
.box .info{text-align:center}
.box .title{display: block;
    height: 20px;
    line-height: 20px;
    color: #777;
    font-weight: 700;}
.box .icons span{
        
    display: inline-block;
    height: 18px;
    border-radius: 12px;
    padding:1px 8px 2px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;}
.box .icons .icon-sale{background:#f65c60;}
.box .icons .icon-coupon{background:#9bce26;}
.box .icons .icon-today{background:#f374b7;}