@charset "utf-8";
//font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

// reset
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: "Noto Sans KR", sans-serif;
}
ul,li{
    list-style:none;
}
a{
    text-decoration: none;
    color:#000;
}

.inner{
    width:991px;
    margin:0 auto;
}
// main
header{
    .header_area{
        border-bottom:1px solid #eee;
        .inner{
            display:flex;
            justify-content:space-between;
            align-items: center;
            padding:30px 0;
            .logo{
                display:flex;
                align-items: end;
                h1{
                    width:117px;
                    img{
                        width:100%;
                    }
                    & + span{
                        font-size:16px;
                        color:#222;
                        letter-spacing:.5em;
                    }
                }
            }
            .info_menu{
                display: flex;
                align-items: center;
                .ban{}
                ul{
                    display:flex;
                    li{
                        flex:1;
                        width:36px;
                        margin-left:44px;
                        a{
                            position:relative;
                            display:block;
                            padding-bottom:19px;
                            img{
                                width:100%;
                            }
                            span{
                                position:absolute;
                                bottom:0;
                                left:50%;
                                transform:translateX(-50%);
                                font-size:13px;
                                color:#666;
                                white-space: nowrap;
                            }
                        }
                        
                    }
                }

            }
        }
    }
    .nav_area{
        
        & > .inner{
            position:relative;
            display:flex;
            justify-content: space-between;
            padding:13px 0;
            .nav{
                display:flex;
                justify-content: center;
                li{
                    a{
                        display:block;
                        margin-right:40px;
                        font-size:16px;
                        font-weight: 500;
                        color:#000;

                    }
                }
            }
            .search_area{
                position:relative;
                width:243px;
                height:24px;
                padding:0 10px;
                border-left:1px solid #cacaca;
                border-right:1px solid #cacaca;
                input{
                    height:24px;
                    line-height:24px;
                    border:1px solid transparent;
                    &:focus{
                        border-color: #000;
                    }
                }
                span{
                    position:absolute;
                    top:0;
                    right:10px;
                    width:26px;
                    cursor: pointer;
                    img{
                        width:100%;
                    }
                }
            }
        }   
        .nav_detail{
            position:relative;
            border:1px solid #000;
            width:100%;
            background:#eee;
            .inner{
                display:flex;
                ul{
                    flex:1;
                    border-right:1px solid #ccc;
                    padding:25px 0;
                    padding-left:10px;
                    li{
                        a{
                            color:#555;
                            font-size:14px;
                        }
                        &:first-child{
                            margin-bottom:10px;
                            a{
                                font-weight: 500;
                                color:#000;
                                font-size:16px;
                            }
                        }
                    }
                    &:first-child{
                        padding-left:0;
                    }
                    &:last-child{
                        border:none;
                    }
                }
            }
            &:after{
                content:'';
                display:block;
                position:absolute;
                top:50px;
                left:0;
                width:100%;
                height:2px;
                background-color:#fb4357;
            }
        } 
    }
}