@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

// reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    word-break: break-all;
    font-weight: 400;
    color: #333;
    letter-spacing: -0.5px;
    font-size:14px;
}
body{
    min-width:320px;
}
table{
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
}
th,td{
    padding:0;
}
img{
    vertical-align: top;
}
ul,li{
    list-style:none;
    word-break: keep-all;
}
a{
    text-decoration: none;
    color:inherit;
    font-weight: inherit;
    font-size:inherit;
}
em{
    font-style: normal;
    color:inherit;
    font-size:inherit;
}
:focus{
    outline:none;
}

button{
    background-color: transparent;
    border:0;
}
// common
$main-color:rgb(95, 0, 128);
$common-width:1050px;

// mixin
@mixin center_width{
    position:relative;
    width:1050px;
    margin:0 auto;
}
@mixin flex_center{
    display:flex;
    justify-content: center;
}
@mixin flex_between{
    display:flex;
    justify-content: space-between;
}
.inner{
    position:relative;
    width:1050px;
}