@charset 'utf-8';

// reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'NotoSans', '맑은 고딕', 'Malgun Gothic';
    word-break: break-all;
    font-weight: normal;
    color: #222;
    letter-spacing: -0.4px;
}
body{
    min-width:320px;
}
img{
    vertical-align: top;
}
ul,li{
    list-style:none;
    word-break: keep-all;
}
a{
    text-decoration: none;
    color:inherit;
}

.inner{
    width:1280px;
    margin:0 auto;
}

// common
$main-color:#de3831;