@charset 'utf-8';
@import 'common.scss';

#wrap{
    position:relative;
}
// https://narup.tistory.com/210
#header{
    .header_top{
        position: relative;
        padding: 8px 0 7px;
        border-bottom: 1px solid #f2f2f2;
        .inner{
            display:flex;
            justify-content:space-between;
            .exchange{
                display:flex;
                align-items: center;
                font-size: 12px;
                strong{
                    cursor: pointer;
                }
                span{
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 11px;
                    color: #de3831;
                    font-size: 12px;
                    font-family: 'NotoSansBold';
                }
            }
            .q_menu_area{   
                display:flex;
                margin-left:auto;
                ul{
                    display:flex;
                    justify-content: space-between;
                    li{
                        position:relative;
                        padding: 0 20px;
                        font-size: 12px;
                        color: #222;
                        line-height:25px;
                        cursor: pointer;
                        &:before{
                            content: '';
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            width: 1px;
                            height: 10px;
                            background-color: #e0e0e0;
                        }
                    }
                }
                button{
                    background-color: #fff;
                    border: 1px solid #222;
                    height: 25px;
                    font-size: 12px;
                    border-radius: 4px;
                    line-height: 25px;
                }
            }
        }
        
    }
}