@import 'common';
.top_slider{
    .swiper-slide{
        text-align:center;
    }
    .swiper-pagination{
        position:absolute;
        bottom:10px;
        left:50%;
        transform:translateX(calc(525px - 55px));
        width: 55px;
        height:23px;
        line-height:23px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 12px;
        background: rgba(0, 0, 0, 0.15);
        color:#fff;
        span{
            color:inherit;
        }
    }
    .swiper-button-prev,
    .swiper-button-next{
        width: 52px;
        height: 52px;
        transition: 0.5s;
        opacity: 0;
        background:url('/images/slide/btn_arrow.svg') no-repeat 0 0;
        &:after{
            font-size:0;
        }
    }
    .swiper-button-prev{
        left:50%;
        transform:translateX(-575px) rotate(-180deg);   
    }
    .swiper-button-next{
        right:50%;
        transform:translateX(575px);
    }
    &:hover .swiper-button-prev,
    &:hover .swiper-button-next{
        opacity: 1;
    }
}

 // slide
 .slider_tab4{
    & > div{
        position:relative;
    }
    .swiper-button-prev,
    .swiper-button-next{
        display:block;
        width: 60px;
        height: 60px;
        top:50%;
        background:url('/images/slide/btn_arrow2.svg') no-repeat 0 0;
        &:after{
            font-size:0;
        }
    }
    .swiper-button-prev{
        left:50%;
        transform:translateX(-554px) translateY(-50%);   
    }
    .swiper-button-next{
        right:50%;
        transform:translateX(554px)translateY(-50%) rotate(-180deg);
    }
    .btn_prev{position:absolute;top:0;left:-100px;}
    .swiper-button-disabled{
        display:none
    }
}