@charset "utf-8";
@import "reset", "common";

// main
.wrap{
    position:relative;
    //top ban
    .top_ban_area{
        .inner{
            position:relative;
            .btn_x{
                position:absolute;
                top:5px;
                right:5px;
                cursor: pointer;
            }
        }
    }

    // contents
    .contents_area{
        //  title 
        .tit_area{
            @include flex-between;
            margin-bottom:20px;
            strong{
                font-weight: 700;
                color: #222;
                font-size:26px;
            }
            .btn_list{
                display:inline-block;
                width:105px;
                height:30px;
                padding: 0 32px 0 15px;
                font-size: 14px;
                color: #222;
                line-height: 30px;
                background: transparent url($img-url+'arrowR_8x13.png') calc(100% - 7px) center / 8px 13px scroll no-repeat;
                border: 1px solid #e2e2e2;
                border-radius: 15px;
                box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
            }
        }
        .movie_area{
            background-color:#000;
            .video{
                position: relative;
                padding-bottom:56.25%;
                iframe{
                  position: absolute;
                  top: 0;
                  left: 0 ;
                  right: 0;
                  bottom: 0;
                  width:100%;
                  height: 100%;
                }
                &:before{
                    content:'';
                    display:block;
                    position:absolute;
                    top:0;
                    left:0;
                    width:80px;
                    height:100%;
                    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                    z-index: 1;
                }
                &:after{
                    content:'';
                    display:block;
                    position:absolute;
                    top:0;
                    right:0;
                    width:80px;
                    height:100%;
                    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                }
              }
        }
        .movie_chart{
            padding:50px 0 60px;
            .tit_area{
                div{
                    strong{
                        a{
                            color:#666;
                        }
                        & + a{
                            position:relative;
                            display:inline-block;
                            padding-left:20px;
                            margin-left:20px;
                            color: #666;
                            font-size:26px;
                            &:before{
                                content:'';
                                display:block;
                                position:absolute;
                                top:50%;
                                left:0;
                                width:1px;
                                height:15px;
                                background-color:#999;
                                transform:translateY(-50%);
                            }
                        }
                    }
                    .active{
                        color:#222;
                    }
                }
            }
            .list_area{
                position:relative;
                .slide_area{
                    display:none;
                    .swiper-slide{
                        width:170px;
                        .thumb{
                            position:relative;
                            height:234px;
                            border-radius: 10px;
                            overflow:hidden;
                            img{width:100%;}
                            & + div{
                                text-align:center;
                                strong{
                                    display:block;
                                    overflow:hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    margin-top: 14px;
                                    font-size: 18px;
                                    color: #222;
                                }
                                & > div{
                                    margin-top: 9px;
                                    font-size: 14px;
                                    color: #444;
                                }
                            }
                            .dim{
                                display:none;
                                position:absolute;
                                top:0;
                                left:0;
                                width:100%;
                                height:100%;
                                padding-top:70px;
                                background-color: rgba(0, 0, 0, 0.5);
                                a{
                                    display:block;
                                    width:80%;
                                    height:40px;
                                    line-height:40px;
                                    margin:5px auto;
                                    border-radius: 4px;
                                    text-align:center;
                                    background-color:#fff;
                                    font-size:13px;
                                    &:hover{
                                        opacity: .7;
                                    }
                                    &:last-child{
                                        background-color: map-get($color,main-color);
                                        color:#fff;
                                    }
                                }
                            }
                            &:hover{
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                                .dim{
                                    display:block;
                                }
                            }
                        }
                    }
                    .swiper-button-prev,
                    .swiper-button-next{
                        top:122px;
                        width:40px;
                        height:40px;
                        border-radius: 50%;
                        background:rgba(255, 255, 255, 0.5) url($img-url+'arrowL.png') no-repeat center;
                        background-size:9px 13px;
                        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
                        &:after{
                            display:none
                        }
                    }
                    .swiper-button-prev{
                        left:-20px;
                    }
                    .swiper-button-next{
                        right:-20px;
                        transform:rotate(180deg);
                    }
                    &.active{
                        display:block;
                    }
                }
            }
        }
        .special{
            .info_area{  
                @include flex-between;
                ul{
                    position:relative;
                    width:500px;
                    height:264px;
                    li{
                        position:absolute;
                        top:0;
                        left:0;
                        img{
                            width:100%;
                        }
                        &.active{
                            z-index:2;
                        }
                    }
                }
                .img_list{
                    width:440px;
                    & > div{
                        border: 1px solid transparent;
                        border-top: 1px solid #e9e9e9;
                        a{
                            @include flex-between;
                            align-items: center;
                            padding: 19px 25px 19px 19px;
                            strong{
                                font-size: 18px;
                                color: #222;
                                line-height: 1.444em;
                                font-weight: 700;
                            }
                            span{
                                padding: 2px 7px;
                                font-size: 14px;
                                color: #666;
                                line-height: 1.429em;
                                background-color: #f6f6f6;
                                border-radius: 5px;
                                font-weight: 400;
                            }
                        }
                        &:last-child{
                            border-bottom: 1px solid #e9e9e9;
                        }
                        &:hover, &.active{
                            border-color:#000;
                            border-radius: 5px;
                        }
                    }
                }
            }
            
        }
        .gift_area{
            @include flex-between;
            margin-top:60px;
            .box{
                width: 300px;
                padding: 20px 19px 30px;
                border: 1px solid #e4e4e4;
                border-radius: 10px;
                .box_tit{
                    @include flex-between;
                    font-weight: 500;
                    font-size: 20px;
                    color: #222;
                    a{
                        padding: 2px 15px 3px;
                        font-weight: 400;
                        font-size: 12px;
                        color: #666;
                        line-height: 1.417em;
                        border: 1px solid #f4f4f4;
                        border-radius: 11px;
                    }
                }
                .list{
                    li{
                        a{
                            @include flex-a-center;
                            margin-top: 27px;
                            .img{
                                width: 75px;
                                height: 76px;
                                margin-right:20px;
                                img{
                                    width:100%;
                                }
                            }
                            .cont{
                                font-weight: 500;
                                font-size: 14px;
                                color: #222;
                                strong{
                                    display:block;
                                }
                            }
                        }
                    }
                }
            }
        }
        .notice_area{
            @include flex-between;
            padding: 30px 0 120px;
            .notice_box{
                @include flex-between;
                width: 738px;
                height: 238px;
                border: 1px solid #e4e4e4;
                border-radius: 10px;
                .info_list{
                    flex:1;
                    padding: 24px 26px 20px 30px;
                    .top_noti{
                        display:flex;
                        strong{
                            font-size: 16px;
                            width:60px;
                        }
                        div{
                            overflow: hidden;
                            max-width: 300px;
                            padding-left:28px;
                            font-size: 14px;
                            color: #222;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        a{
                            display:inline-block;
                            padding: 2px 15px 3px;
                            font-weight: 400;
                            font-size: 12px;
                            color: #666;
                            line-height: 1.417em;
                            border: 1px solid #f4f4f4;
                            border-radius: 11px;
                            margin-left:auto;
                        }
                    }
                    dl{
                        display:flex;
                        margin:20px 0;
                        dt{
                            font-size: 16px;
                            width:60px;
                        }
                        dd{
                            padding-left:28px;
                            font-size: 14px;
                        }
                    }
                    .btns{
                        a{
                            display: inline-block;
                            padding: 7px 14px;
                            font-size: 14px;
                            color: #222;
                            line-height: 1.429em;
                            background-color: #f6f6f6;
                            border-radius: 5px;
                        }
                    }
                }
                .qr{
                    width:222px;
                    margin-top: 5px;
                    border-left: 1px solid #e4e4e4;
                    font-size: 12px;
                    color: #222;
                    text-align:center;
                    & div:first-child{
                        padding:24px 0 29px;
                        strong{display:block;}
                    }
                    & > img{
                        width:60px;
                        height:60px;
                    }
                    & > span{
                        display:block;
                        margin-top: 24px;
                    }
                }
            }
            .ban_area{
                width:211px;
                height:238px;
                border-radius: 10px;
                overflow:hidden;
                img{
                    width:100%;
                }
            }
        }
    }
}